<% total = 0 %>

<h1>
  <p>TRANSACTIONS</p>
</h1>

<% for transaction in @transactions %>
<div class="transactions">
<hr />
<p>Date: <%= transaction.pretty_purchase_date %></p>
<p> Amount: £<%= transaction.amount %></p>
<p> Merchant: <%= transaction.merchant.name %></p>
<p> Item Type: <%= transaction.item.type %></p>
<hr />
<p><a href="/transaction/<%= transaction.id %>">Show transaction</a></p>
<% total += transaction.amount %>
<div>
<br />
</div>
</div>

<div class="item_totals">
<p><%= transaction.item.type %> total: £<%= transaction.item_total %></p>
</div>

<% end %>



<div class="total">
<p>Total Spent: £<%= total %></p>
</div>









