<div class="add_new_class">
<p>Date: <%= @transaction.pretty_purchase_date %></p>
<p>Amount: <%= @transaction.amount %></p>
<p>Merchant: <%= @transaction.merchant.name %></p>
<p>Item Type: <%= @transaction.item.type %></p>

<p><a href="/transaction/<%= @transaction.id %>/edit">Edit transaction</a></p>
<form action="/transaction/<%= @transaction.id %>/delete" method="POST">
  <input type="submit" value="Delete Transaction">
</form>

</div>
